// @import '../config/vars.color';
// @import '../config/vars';
//* //////////////////
//* Position Select //
//* //////////////////
@mixin position-select(
	$x,
	$y: $x,
	$position: absolute,
	$left: true,
	$top: true
) {
	@if $left {
		left: $x;
	} @else {
		right: $x;
	}
	position: $position;
	@if $top {
		top: $y;
	} @else {
		bottom: $y;
	}
	@if $position != absolute and $position != fixed {
		@error 'Position-select can´t be `#{$position}, it needs to be absolute or fixed`';
	}
}
