// @import '../config/vars.color';
// @import '../config/vars';
//* //////////////////
//* iOS Shadow Like //
//* //////////////////
@mixin my-shadow(
	$x: 0,
	$y: 25px,
	$blur: 20px,
	$expand: -10px,
	$color: $c-black,
	$alpha: 0.025
) {
	box-shadow: $x $y $blur $expand rgba($color, $alpha);
}
