/*
-██████╗ ██████╗ ██╗      ██████╗ ██████╗ 
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
██║     ██║   ██║██║     ██║   ██║██████╔╝
██║     ██║   ██║██║     ██║   ██║██╔══██╗
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
-╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
*/
$c-black: #162135;
$c-blue: #4140ff;
$c-darkBlue: #0404b3;
$c-darkWhite: #f1f1f1;
$c-gray: #f1f1f1;
$c-red: #fe3737;
$c-text: #6b7280;
$c-yellow: #fedb37;
$c-white: #ffffff;
$c-sub: #b5b8bf;
